body {
    background: rgb(212, 211, 211);
  }
  
  .grid {
    width: 400px;
    height: 400px;
    border: 1px solid red;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  .grid div {
    width: 40px;
    height: 40px;
    border:1px black solid;
    box-sizing:border-box
  }
  
  .snake {
    background: green;
  }
  
  .apple {
    background: red;
    border-radius: 20px;
  }
  
  .popup {
    background: rgb(32, 31, 31);
    width: 100px;
    height: 100px;
    position: fixed;
    top: 100px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left-right {
    display: flex;
  }